* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    min-height: 100vh;
}

.rect {
    width: 510px;
    height: 1018px;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    border-radius: 255px;
    position: absolute;
    top: -318px;
    left: -90px;
}

.rect2 {
    width: 510px;
    height: 1018px;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    opacity: 0.03;
    border-radius: 255px;
    position: absolute;
    right: -185px;
    bottom: -337px;
}

.mobile {
    width: 247px;
    height: 505px;
    margin-top: 148px;
    margin-left: 372px;
    position: relative;
}

.mob1 {
    width: 247px;
    height: 505px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 30px 60px -10px rgba(62, 39, 83, 0.25);
    padding-top: 11px;
}

.mob2 {
    width: 228px;
    height: 483px;
    background-color: #f5f3f7;
    border-radius: 20px;
    margin-left: 9.5px;
    border: 1px solid rgba(62, 39, 83, 0.05);
}

.mob3 {
    width: 228px;
    height: 66px;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    border-radius: 20px 20px 6px 6px;
    box-shadow: 0 0 13px 0 rgba(62, 39, 83, 0.25);
    display: flex;
    position: relative;
    justify-content: center;
}

.camera {
    width: 129px;
    height: 29px;
    border-radius: 0 0 14px 14px;
    background-color: #fff;
    margin-top: -11px;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 1px solid #fff;
    position: absolute;
    left: 27.5px;
    top: 30px;
}

.arow {}